#icon-gan-prod {
	background: transparent url(../images/GANProdicons32.png) no-repeat -12px -7px;
}

#icon-gan-add-prod {
	background: transparent url(../images/GANProdicons32.png) no-repeat -61px -7px;
}

#icon-gan-edit-prod {
	background: transparent url(../images/GANProdicons32.png) no-repeat -114px -7px;
}

#icon-gan-view-prod {
	background: transparent url(../images/GANProdicons32.png) no-repeat -163px -7px;
}

#icon-gan-prod-options {
	background: transparent url(../images/GANProdicons32.png) no-repeat -211px -7px;
}

#icon-ganpf-help {
	background: transparent url(../images/GANProdicons32.png) no-repeat -254px -7px;
}

#gan_donate {
	vertical-align: text-top;
	float: right;
}

#gan_donateHelp {
	vertical-align: text-top;
}

#gan_supportSmall {
	float: right;
	vertical-align: text-top;
	font-size: 50%;
}

#gan_version {
	float: right;
	font-style: italic;
	color: #808080;
	font-size: 60%;
}

#gan_dash_version {
	float: left;
}


